.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0px 35px;
  font-size: 15px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  border: none;
  cursor: pointer;
  transition: all 0.4s linear;
  margin: 2px;
  display: flex;
  justify-content: center;

  &:hover
  {
    background-color: white;
    color: black;
    border: solid 1px black;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: white;
      border: solid 1px #357ae8;
      color: #357ae8;
      font-weight: 700;
    }
  }

  &.inverted
  {
    background-color: white;
    border: solid 1px black;
    color: black; 

    &:hover
    {
      background-color: black;
      color: white;
      border: none;
    }
  }
}